{% load otree %}


<p> You will now complete two sets of questions. Depending on the accuracy of your answers, you can earn <b> additional bonus money. </b> </p>

<p><b>First Set of Questions:</b> You will be asked to arrange the three options you just sampled through in a descending order according to four different metrics:</p>

<p><b>(1) "Mean": </b> refers to an option's average payoff per draw.</p>
<p><b> (2) "SD": </b> refers to an option's standard deviation. The standard deviation
    is a measure of how spread out the draws are in relation to the option's average. A low standard deviation means that most numbers are
close to the average. A high standard deviation means that numbers are more widely dispersed.</p>

<p><b>(3) "Lowest Draw": </b> refers to the Coin with the lowest value for a particular option. </p>

<p><b> (4) "Highest Draw": </b> refers to the Coin with the highest value for a particular option.</p>

<p> Thus, you will be asked to rank the three options with regard to their average payoff, their standard deviation, their lowest possible draw and their highest possible draw.</p>

<p><b>Second Set of Questions:</b> You will be asked to <b>estimate</b> the specific <b> mean </b> for each option.</p>

<p>Click on the button below to proceed to the payment information.</p>

