{% load otree %}


<p>Welcome to this HIT! All your responses will be kept completely confidential and you will remain
 anonymous. </p>

 <p> In this HIT you can – depending on your decisions – earn money in addition to
the {{ participation_fee }} that you receive as a fixed payoff. It is thus very important that you
read the instructions carefully. This HIT consists of two tasks, one main task and one short, additional task.
     After you have completed the main task, you will be asked to fill out a questionnaire. Then, you will complete the second task.
     You will be paid as soon as you have completed both tasks and the questionnaire.</p>

<p>During the HIT, we will not speak of Dollars, but Experimental Currency Units (ECU). Your entire payoff will first be calculated in
    ECU. The ECU you earn during the HIT will be converted to Dollars at the end of the HIT. The following
    conversion rate applies:</p>

<p align="center">10 ECU = {{ conversion_factor }} Cents </p>

<p>We will explain the exact procedure of the HIT on the next pages.</p>

<div class="card">
    <div class="card-header"><b>ATTENTION</b></div>
    <div class="card-body">
        Please read the instructions on the following pages carefully. They will allow you to perform better in the task and 
        substantially increase your earnings in the experiment. To ensure that you have understood the
        instructions correctly, the main task does not begin until you have answered a few comprehension
        questions correctly. You have a maximum of two attempts to answer all comprehension questions correctly.

    </div>
</div>

<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>
