{% load otree %}

<div class="card">
        <div class="card-header">
            Do you think you would have explored an additional option that only appeared after you had already completed 50% of all rounds?
            Please explain your answer.
        </div>
        <div class="card-body">
            {% formfield player.q_fadein %}
        </div>
    </div>
<br>

<div class="card">
        <div class="card-header">
            Do you think you would have made different choices if an option that had not been used for 10 consecutive rounds would vanish for the rest of the HIT?
            Please explain your answer.        </div>
        <div class="card-body">
            {% formfield player.q_fadeout %}
        </div>
    </div>
<br>