{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Please read these instructions carefully.
{% endblock %}

{% block content %}
    <p>Welcome to this HIT! All your responses will be kept completely confidential and you will remain
        anonymous.</p>
    <p>In this HIT, you will be matched into a group with other participants.</p>
    <p>The blue button below will redirect you to a Waiting Page. After you have been matched to your group, the HIT
        will proceed automatically.</p>
    If you haven't been matched into a group with other participants after 5 minutes, you will have the opportunity to finish the HIT. If you
    choose to finish at this stage, you receive a fixed payoff of {{ participation_fee }}.
    <br><br>


    <div class="card">
        <div class="card-header"><b>ATTENTION</b></div>
        <div class="card-body">
            On the Waiting Page, you will have to indicate your attention by either pressing any key on
            your keyboard or moving your mouse. If you fail to do so at least every 15 seconds and the timer
            near the bottom of the page falls to zero, you will not be able to finish this HIT and receive no
            payoff at all.
        </div>
    </div>
    <br>
    <div class="alert alert-secondary" role="alert">
        Please click the blue button below to proceed to the Waiting Page.
    </div>
    <button value="True" id="proceed" class="btn btn-primary btn-large">Proceed to Waiting Page</button>
{% endblock %}
