{% load otree %}
<h4>Stage 2 and Final Payment</h4>
<br>


<p> In the second stage, you will make your main investment decision that determines your bonus payoff. </p>

<p> Based on what you learned during the sampling stage, you will make {% if choice %} three consecutive decisions on how to allocate one point between the three options.
    {% elif not choice %} one decision on how to allocate your three points between the three options. {% endif %}</p>

<p> After your main investment decision, you will proceed to a short questionnaire.</p>

<p> You receive feedback on your draws from the main investment decision at the end of this task.
    The ECU-value of the three drawn Coins will be converted into Dollar and paid out as a bonus. </p>

<p> Click on the button below to proceed to the comprehension questions. </p>
<br>

