{% load otree %}


{% if not choice %}

<div class="card">
        <div class="card-header">
            Please explain your investment choices.
        </div>
        <div class="card-body">
            {% formfield player.q_exploration_strategy %}
        </div>
    </div>
<br>

{% elif choice %}

<div class="card">
        <div class="card-header">
            Please explain your investment choices across the three rounds.
        </div>
        <div class="card-body">
            {% formfield player.q_exploration_strategy %}
        </div>
    </div>

<br>

{% endif %}