{% load otree %}



    <div class="card">
    <div class="card-header">
        How do you see yourself: are you generally a person who is fully prepared to take risks or do you try to avoid
        taking risks?
        <br>
        <p><i>Please tick a box on the scale, where the value 0 means: ‘not at all willing to take risks’
        and
            the value 10 means: ‘very willing to take risks’.</i> </p>
    </div>

    <div class="card-body">
        <table class="table">
            <td align="center">not at all willing to take risks</td>
            <td> {{ form.q_risk.0 }} </td>
            <td> {{ form.q_risk.1 }} </td>
            <td> {{ form.q_risk.2 }} </td>
            <td> {{ form.q_risk.3 }} </td>
            <td> {{ form.q_risk.4 }} </td>
            <td> {{ form.q_risk.5 }} </td>
            <td> {{ form.q_risk.6 }} </td>
            <td> {{ form.q_risk.7 }} </td>
            <td> {{ form.q_risk.8 }} </td>
            <td> {{ form.q_risk.9 }} </td>
            <td>very willing to take risks</td>
        </table>

    </div>
</div>
<br>

