.page-header {
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;

}
.feedback {
    margin-top: 30px;
    margin-bottom: 30px;
}

.table {
    font-size: 22px;
    margin-top: 60px;
    /*
    background-color: #FFF5EE;
    */
    margin-bottom: 60px;
    /*
    column-width: 3000px;
    */
    font-family: Arial, Helvetica, sans-serif;
}

.td {
text-align: left;
height: 80px;
width: 180px;
line-height: 80px;
}

.th{
text-align: left;
height: 40px;
width: 180px;
line-height: 40px;
background-color: #F5F5F5 ;
;
}
