{% load otree %}
{% block title %}
<h4>Sampling Stage: Investments and Earnings </h4>
<br>
{% endblock %}

{% block content %}

<p>You can think of each option as a bag of coins. The coins are put in each bag before the game starts and for every point you invest in
an option, a coin from the respective bag is drawn. Thus, one point equals one draw. After each draw, the coin is put back into the bag. Bags do not change over the 
course of the task and are independent of one another.</p>

<p> Bags differ in the composition of coins they contain. At the beginning of the task, you will see summary statistics from {{Constants.num_priors}} prior
draws from each of the three options. You can use this data to inform your choices at the sampling as well as decision stage.</p>

<p>After you have seen these summary statistics, you will get the opportunity to draw more coins from each option by investing points. You can sample as many rounds 
as you wish to. However, for every 15 draws we will charge you 0.1 ECU, meaning for draw 1-15 you will be charged 0.1 ECU, no matter if you stop sampling at 9 draws. 
For draws 16-30 you will be charged another 0.1 ECU, making 0.2 ECU in total for sampling up to 30 draws. Again, you will be charged the full 0.2 ECU, even if you stop 
    sampling at draw 25. This interval charging continues until you finished sampling and decide to move to stage two, the decision stage.</p>



<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>

{% endblock %}
