{% load otree %}
{% block title %}
<h4>Sampling Stage: Investments and Earnings </h4>
<br>
{% endblock %}

{% block content %}

<p>You can think of each option as a bag of coins. The coins are put in each bag before the game starts and for every point you invest in
an option, a coin from the respective bag is drawn. Thus, one point equals one draw. After each draw, the coin is put back into the bag. Bags do not change over the 
course of the task and are independent of one another.</p>

<p> Bags differ in the composition of coins they contain. At the beginning of the task, you will see summary statistics from {{Constants.num_priors}} prior
draws from each of the three options. You can use this data to inform your subsequent choices in the sampling as well as the decision stage.</p>


<p>After having observed the summary statistics, you can draw more coins from each option by investing points.
    These coins will not affect your final payoff, but they will give you additional information about the potential value of each option. </p>

<p> You can sample as many rounds as you wish to. However, for every 15 draws, we will charge you 0.2 ECU. Thus, for draws 1-15, you will be charged 0.2 ECU, no matter if you stop sampling at 9 draws.
    If you sample anything between 16-30 draws, you will be charged another 0.2 ECU, summing up to 0.4 ECU total sampling costs. Again, you will be charged the full 0.4 ECU, even if you, for example, stop
    sampling at draw 25. This interval charging continues until you finished sampling and decide to move to stage two, the decision stage.</p>



<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>

{% endblock %}
