{% load otree %}
{% block title %}
<h4>Sampling Stage: Feedback </h4>
<br>

{% endblock %}

{% block content %}

<p> After submitting your investment, a feedback screen summarizes the number of draws per option and informs you about the respective values of each coin drawn.
Below the feedback table, you can decide either to continue sampling by clicking the blue button or to end sampling and continue with the decision stage by 
    clicking the green button, as shown in the image below. 
 </p>

<!--{% if not choice %}-->
<!--<p>Once you have made your choice, you will receive feedback about the payoff from your investment. This will be shown on a separate feedback screen upon submitting your choice. </p>-->

<!--{% elif choice %}-->
<!--<p> Once you made three consecutive choices, you will receive feedback about the payoff from your investment. Thus, you will-->
<!--receive feedback after the third and after the sixth round. This will be shown on a separate feedback screen.</p>-->

<!--{% endif %}-->



<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>
{% endblock %}

