{% load otree %}
{% block title %}
<h4>The Stages</h4>
<br>
{% endblock %}

{% block content %}

<p> In <b> Stage 2</b>, you will be able to learn more about the options you already know from the first stage by sampling through them 100 times.</p>

<p> In each of the 100 sampling rounds, you freely choose which one of the three options to draw from (see image below). After each decision, you receive feedback on the value of that draw. </p>

<p> You choose by clicking on the "Choose" text right below each option.</p>

<p> Coins drawn during the sampling phase do not count towards your bonus payoff. However, they are meant to give you additional information about the options.</p>

<p> After you have finished all 100 sampling rounds, you make another {% if choice %} three consecutive main investment decisions{% elif not choice %} main investment decision{% endif %}, analogous to <b> Stage 1</b>.

<br>

<div class="card">
    <div class="card-header">Example: Decision Screen - Options Might Be Arranged Differently In Your Task</div>
        <div class="card-body">
            <img src='https://i.imgur.com/htU49kg.png' alt="bla" width="800px"/>
    </div>
</div>
<br>



<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>

{% endblock %}
