{% load otree %}
{% block title %}
<h4>The Stages Stage "ONE"</h4>
<br>
{% endblock %}

{% block content %}

<p> At the beginning of stage "ONE", you will see summary statistics from {{Constants.num_priors}} prior draws from each of the three options. 
    You can use this data to inform your following choices.</p>
    
<p> At the beginning of {% if not choice %} both rounds{% elif choice %} each round{% endif %}, you receive {% if choice %} one point{% elif not choice %} three points{% endif %}.
You can invest {% if choice %} this point {% elif not choice %} these points {% endif %} freely between all {% if not safe %}
three {% elif safe %} four {% endif %} options. Points cannot be accumulated and therefore, {% if choice %} each point {% elif not choice %} all three 
points {% endif %} must be invested in each round. </p>

<p> In stage "ONE", you will first see summary statistics for each option. Then, you will have the opportunity to learn more about the options by
    sampling through them.</p>
    
 <p>The following sampling rules apply:
    
At the beginning of each sampling round, you receive {% if choice %} one point{% elif not choice %} three points{% endif %}. 

You can invest {% if choice %} this point {% elif not choice %} these points {% endif %} freely between all 

three options. Points cannot be accumulated and therefore, {% if choice %} each point {% elif not choice %} all three 

points {% endif %} must be invested in each round. </p>

<p> At the beginning of stage "ONE", you will learn about the options by observing provided information. Afterwards, you make your choice that determines your bonus
    payoff. Stage "ONE" is than finsihed and your directly be forwarded to stage "TWO".
     </p>

<p> At stage "TWO", you will be able to learn more about the options, you already know from stage "ONE", by sampling through them. After you have done sampling, again, you 
    will make another choice that determines your bonus payoff. After you made this choice, you will receive feedback about your choices from stage "ONE" and "TWO" and 
    will be informed about your bonus payoff.
    
</p>

<p>  At the beginning of the task, you will see summary statistics from {{Constants.num_priors}} prior
draws from each of the three options. You can use this data to inform your subsequent choices in the sampling as well as the decision stage.</p>

<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>

{% endblock %}
