{% load otree %}
{% block title %}
<h4> Stage "TWO"</h4>
<br>

{% endblock %}

{% block content %}
  

 <p> In order to learn more about the options, stage "TWO" consists of 100 sampling rounds, where you can draw more coins from each option by investing points.
    These coins will not affect your final payoff, but they will give you additional information about the potential value of each option. <\p>
     
    
   <p>At the beginning of each round, you receive one point. You can invest this point freely between all three options, by directly clicking on
       the button below the option. Points cannot be accumulated and therefore, each point must be invested in each round. After 
     submitting your sampling investment, a feedback screen informs you about the value of the coin drawn (see image below).</p>
     
     <p> After you have finished all 100 sampling round, you mak  </p>


<!--<p> Each round after submitting your sampling investment, a feedback screen summarizes the number of draws per option and informs you about the respective values of each coin drawn. </p>
<p>You will decide whether to continue sampling by clicking on one of two buttons below the feedback table (see image below). 
You can either continue sampling by clicking the blue button, or decide to end sampling and continue to the decision stage by clicking the green button. </p> 


<div class="card">
    <div class="card-header">Decision: Sampling or Main Decision?</div>
        <div class="card-body">
            <img src='https://i.imgur.com/c7wOwcK.png' alt="bla" width="800px"/>
    </div>
</div>
<br> -->



<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>
{% endblock %}

