{% load otree %}
{% block title %}
<h4>The Stages</h4>
<br>
{% endblock %}

{% block content %}

<p> At the beginning of stage "ONE", you will learn about the options by observing provided information. Afterwards, you make {% if choice %} three consecutive 
    investment decisions that determine {% elif not choice %} one investment decision that determines {% endif %} your bonus
    payoff. Stage "ONE" is than finsihed and you will directly be forwarded to stage "TWO".
     </p>

<p> At stage "TWO", you will be able to learn more about the options, you already know from stage "ONE", by sampling through them. After you have done sampling, 
    again, you will make another {% if choice %} three consecutive investment decisions that determine 
    {% elif not choice %} investment decision that determines {% endif %} your bonus payoff. 
   Afterwards, you will receive feedback about your investment decisions from stage "ONE" and "TWO" and 
    will be informed about your bonus payoff.  
</p>


<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>

{% endblock %}
