{% load otree %}
{% block title %}
<h4>The Task</h4>
<br>

{% endblock %}

{% block content %}

<p>You will complete two stages. In each stage, you choose between the same set of options to receive Coins. Coins are later converted into Dollars. You choose options by investing points.</p>

<p>You can think of each option as a bag of coins (see image below). The coins are put in each bag before the game starts and for every point you invest in
an option, a coin from the respective bag is drawn. Thus, one point equals one draw. After each draw, the coin is put back into the bag. Bags do not change over the 
course of the task. However, bags can differ in the composition of coins they contain.</p>



{% if choice %}

<div class="card">
    <div class="card-header">Example: Decision Screen - Options Might Be Arranged Differently In Your Task</div>
        <div class="card-body">
            <img src='https://i.imgur.com/2jFkW9D.png' alt="bla" width="800px"/>
    </div>
</div>
<br>

{% elif not choice %}

<div class="card">
    <div class="card-header">Example: Decision Screen - Options Might Be Arranged Differently In Your Task</div>
        <div class="card-body">
            <img src='https://i.imgur.com/OI1vt5V.png' alt="bla" width="800px"/>
    </div>
</div>
<br>

{% endif %}



<!--<p> This HIT comprises <b>two stages</b> and you will repeatedly choose between different options. In the first stage (<b>sampling stage</b>),-->
    <!--you will learn about the options value by getting descriptions for each option and second you will get the opportunity to learn more by sampling through-->
    <!--the options. The second stage includes your final decision (<b>decision stage</b>), where you can apply your gained knowledge and make a final choice.</p>-->



<!--{% if not choice %}-->
<!--<p>Once you have made your choice, you will receive feedback about the payoff from your investment. This will be shown on a separate feedback screen upon submitting your choice. </p>-->

<!--{% elif choice %}-->
<!--<p> Once you made three consecutive choices, you will receive feedback about the payoff from your investment. Thus, you will-->
<!--receive feedback after the third and after the sixth round. This will be shown on a separate feedback screen.</p>-->

<!--{% endif %}-->




<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>
{% endblock %}

