{% load otree %}


{% if not choice %}

<div class="card">
        <div class="card-header">
            Please explain your investment choices in Stage 1 and 2.
        </div>
        <div class="card-body">
            {% formfield player.q_exploration_strategy %}
        </div>
    </div>
<br>

{% elif choice %}

<div class="card">
        <div class="card-header">
            Please explain your investment choices in Stage 1 and 2.
        </div>
        <div class="card-body">
            {% formfield player.q_exploration_strategy %}
        </div>
    </div>

<br>

{% endif %}


<div class="card">
        <div class="card-header">
            Please explain your approach during the 100 sampling rounds.
        </div>
        <div class="card-body">
            {% formfield player.q_sampling_strategy %}
        </div>
    </div>
<br>
