{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your Payment
{% endblock %}


{% block content %}

<p>Your draws from the main investment decision:</p>



{% if draw == 'TSR' %}


    <div class="table">
    <table>
        <tr>
            <th class="th">  </th>
            <th class="th"> Option Resch
            <div class="imageholder"><img src="https://i.imgur.com/kr0xYz1.png" alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Schin
            <div class="imageholder"><img src="https://i.imgur.com/6kqKG77.png" alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Taw
            <div class="imageholder"><img src='https://i.imgur.com/1BZVMwB.png' alt="bla" width="100px"/>
            </div></th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_1_b}} &nbsp;</td>
            <td class="td"> {{player.option_2_b}} &nbsp;</td>
            <td class="td"> {{player.option_3_b}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_1_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3_b}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_1_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_2_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_3_b}} &nbsp;</td>
        </tr>

    </table>
    </div>

{% elif draw == 'STR' %}

    <div class="table">
    <table>
        <tr>
            <th class="th">  </th>
            <th class="th">Option Schin
            <div class="imageholder"><img src="https://i.imgur.com/6kqKG77.png" alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Resch
            <div class="imageholder"><img src="https://i.imgur.com/kr0xYz1.png" alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Taw
            <div class="imageholder"><img src='https://i.imgur.com/1BZVMwB.png' alt="bla" width="100px"/>
            </div></th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_2_b}} &nbsp;</td>
            <td class="td"> {{player.option_1_b}} &nbsp;</td>
            <td class="td"> {{player.option_3_b}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_2_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3_b}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_2_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_1_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_3_b}} &nbsp;</td>
        </tr>

    </table>
    </div>

{% elif draw == 'RTS' %}

    <div class="table">
    <table>
        <tr>
            <th class="th">  </th>
            <th class="th"> Option Taw
            <div class="imageholder"><img src='https://i.imgur.com/1BZVMwB.png' alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Resch
            <div class="imageholder"><img src="https://i.imgur.com/kr0xYz1.png" alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Schin
            <div class="imageholder"><img src="https://i.imgur.com/6kqKG77.png" alt="bla" width="100px"/>
            </div></th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_3_b}} &nbsp;</td>
            <td class="td"> {{player.option_1_b}} &nbsp;</td>
            <td class="td"> {{player.option_2_b}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_3_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2_b}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_3_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_1_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_2_b}} &nbsp;</td>
        </tr>

    </table>
    </div>


{% elif draw == 'TRS' %}

   <div class="table">
    <table>
        <tr>
            <th class="th">  </th>
            <th class="th"> Option Resch
            <div class="imageholder"><img src="https://i.imgur.com/kr0xYz1.png" alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Taw
            <div class="imageholder"><img src='https://i.imgur.com/1BZVMwB.png' alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Schin
            <div class="imageholder"><img src="https://i.imgur.com/6kqKG77.png" alt="bla" width="100px"/>
            </div></th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_1_b}} &nbsp;</td>
            <td class="td"> {{player.option_3_b}} &nbsp;</td>
            <td class="td"> {{player.option_2_b}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_1_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2_b}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_1_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_3_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_2_b}} &nbsp;</td>
        </tr>

    </table>
    </div>


{% elif draw == 'SRT' %}

    <div class="table">
    <table>
        <tr>
            <th class="th">  </th>
            <th class="th"> Option Schin
            <div class="imageholder"><img src="https://i.imgur.com/6kqKG77.png" alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Taw
            <div class="imageholder"><img src='https://i.imgur.com/1BZVMwB.png' alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Resch
            <div class="imageholder"><img src="https://i.imgur.com/kr0xYz1.png" alt="bla" width="100px"/>
            </div></th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_2_b}} &nbsp;</td>
            <td class="td"> {{player.option_3_b}} &nbsp;</td>
            <td class="td"> {{player.option_1_b}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_2_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1_b}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_2_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_3_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_1_b}} &nbsp;</td>
        </tr>

    </table>
    </div>


{% elif draw == 'RST' %}

    <div class="table">
    <table>
        <tr>
            <th class="th">  </th>
            <th class="th"> Option Taw
            <div class="imageholder"><img src='https://i.imgur.com/1BZVMwB.png' alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Schin
            <div class="imageholder"><img src="https://i.imgur.com/6kqKG77.png" alt="bla" width="100px"/>
            </div></th>
            <th class="th"> Option Resch
            <div class="imageholder"><img src="https://i.imgur.com/kr0xYz1.png" alt="bla" width="100px"/>
            </div></th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_3_b}} &nbsp;</td>
            <td class="td"> {{player.option_2_b}} &nbsp;</td>
            <td class="td"> {{player.option_1_b}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_3_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2_b}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1_b}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_3_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_2_b}} &nbsp;</td>
            <td class="td"> {{player.payoff_1_b}} &nbsp;</td>
        </tr>

    </table>
    </div>

{% endif %}


<p>Your payoff from your allocation of points: {{player.payoff_b}}</p>




<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Finish the Experiment</button>


{% endblock %}


{% block styles %}
    <style type="text/css">
        {% include 'MS_4/css/feedback.css' %}
    </style>
{% endblock %}