{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<div class="page-header">
    <p>Draws & Earnings</p>
</div>
{% endblock %}



{% block content %}

{% if draw == 'TSR' %}

{% if choice %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
        </tr>

    </table>
    </div>


<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>

{% endif %}


{% elif draw == 'STR' %}

{% if choice %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
        </tr>

    </table>
    </div>

<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>

{% endif %}

{% elif draw == 'RTS' %}

{% if choice %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
        </tr>

    </table>
    </div>

<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>

{% endif %}

{% elif draw == 'TRS' %}

{% if choice %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
        </tr>

    </table>
    </div>

<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>

{% endif %}

{% elif draw == 'SRT' %}

{% if choice %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
        </tr>

    </table>
    </div>

<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>

{% endif %}

{% elif draw == 'RST' %}

{% if choice %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
        </tr>

    </table>
    </div>

<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>

{% endif %}
{% endif %}


{% if not choice %}
{% if draw == 'TSR' %}



    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
        </tr>

    </table>
    </div>

<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>




{% elif draw == 'STR' %}

    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
        </tr>

    </table>
    </div>

<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>

{% elif draw == 'RTS' %}

    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
        </tr>

    </table>
    </div>

<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>

{% elif draw == 'TRS' %}

   <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
        </tr>

    </table>
    </div>

<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>

{% elif draw == 'SRT' %}

    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
        </tr>

    </table>
    </div>

<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>

{% elif draw == 'RST' %}

    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_3}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_3}} &nbsp;</td>
            <td class="td"> {{player.payoff_2}} &nbsp;</td>
            <td class="td"> {{player.payoff_1}} &nbsp;</td>
        </tr>

    </table>
    </div>

<div class="card">
  <div class="card-header">
      <b> Do you want to continue sampling the different options? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, continue sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>

{% endif %}
{% endif %}

{% endblock %}




{% block styles %}
    <style type="text/css">
        {% include 'Pilot_Descr/css/feedback.css' %}
    </style>
{% endblock %}