{% load otree %}
<h5> The task</h5>

<p> There are 70 rounds in the game and you will repeatedly choose between different options, as shown in the image below. 
Each option is represented by a money bag. Options will stay in the exact same place throughout the task and you will repeatedly choose
between them. You choose options by investing points.</p> 
<p> At the beginning of each round, you receive {% if choice %} one point {% elif not choice %} three points{% endif %}. 
You can invest {% if choice %} this point {% elif not choice %} these points {% endif %} freely between all {% if not safe %}
three {% elif safe %} four {% endif %} options. {% if not choice %} Points cannot be accumulated and therefore, all three 
points must be invested in each round {% endif %}. </p>
<p> Once you have made your choice, you will get feedback about your payoff. This will be shown on a separate feedback screen upon submitting your choice. </p>


<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>
