{% load otree %}

<p> You can think of each option as a bag of coins. The coins are put in each bag before the game starts and every time you choose
an option you draw a coin from the bag. Afterwards, the coin is put back into the bag. Coins in the bag usually differ in value.
    Each bag can differ in the average value of the coins it contains.
Some options are better than others and you can find that out by choosing options and observing the values you get.
    Throughout the game you collect experimental coins and with each choice the amount increases depending on the draw from on an option.</p>



<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>