{% load otree %}
{% block title %}
<h4>Investments and Earnings </h4>
<br>
{% endblock %}

{% block content %}
<p> You can think of each option as a bag of coins. The coins are put in each bag before the game starts and for every point you invest in
an option, a coin from the respective bag is drawn. Thus, one point equals one draw. After each draw, the coin is put back into the bag. Coins in the bag usually differ in value.
    Each bag can differ in the average value of coins it contains. Some bags are better than others and you can find that out by 
    choosing bags and observing the coins you draw.</p>

{% if safe %}
<p> Additionally, you can choose to invest points in an option that guarantees a return of {{ Constants.safe_option }} ECU per point invested. You can think of that option as a money bag with only one type of coin.
This option is symbolized with a hexagon.  </p>

<div class="card">
    <div class="card-header">The Hexagon Option guarantees a return of {{ Constants.safe_option }} ECU.</div>
        <div class="card-body">
            <img src='https://i.imgur.com/xy6odTH.png' alt="bla" width="130px"/>
    </div>
</div>
{% endif %}


<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>

{% endblock %}
