{% load otree %}
{% block title %}
<h5> <b>The task</b></h5>
<br>

{% endblock %}

{% block content %}

<p> This HIT comprises {% if not choice %} {{Constants.num_rounds_points}} {% elif choice %} {{Constants.num_rounds_choice}} {% endif %} rounds. You will repeatedly choose between different options, as shown in the image below.
Each option is represented by a money bag. You choose options by investing points.</p> 

<p> At the beginning of each round, you receive {% if choice %} one point {% elif not choice %} three points{% endif %}. 
You can invest {% if choice %} this point {% elif not choice %} these points {% endif %} freely between all {% if not safe %}
three {% elif safe %} four {% endif %} options. Points cannot be accumulated and therefore, {% if choice %} each point {% elif not choice %} all three 
points {% endif %} must be invested in each round. </p>

<p> Once you have made your choice, you will get feedback about the payoff from your investment. This will be shown on a separate feedback screen upon submitting your choice. </p>


<p> The label denoting the option (e.g., a triangle on the bag) and an option's position on the screen are randomly predetermined and fixed. 
    Label and position can help you locate a particular option, but they are not related to the amount of rewards you can get from an option. </p>

<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>
{% endblock %}

