{% load otree %}

<div class="card">
        <div class="card-header">
            Please describe how your strategy changed over the course of this HIT.
        </div>
        <div class="card-body">
            {% formfield player.q_fadein %}
        </div>
    </div>
<br>

<div class="card">
        <div class="card-header">
            Please describe how your strategy changed over the course of this HIT.
        </div>
        <div class="card-body">
            {% formfield player.q_fadeout %}
        </div>
    </div>
<br>