{% load otree %}
{% block title %}
<h4>Sampling Stage: Feedback </h4>
<br>

{% endblock %}

{% block content %}

<p> Each round after submitting your sampling investment, a feedback screen summarizes the number of draws per option and informs you about the respective values of each coin drawn. </p>
<p>You will decide whether to continue sampling by clicking on one of two buttons below the feedback table (see image below). You can either continue sampling by clicking the blue button, or decide to end sampling and continue to the decision stage by clicking the green button. </p>


<div class="card">
    <div class="card-header">Decision: Sampling or Main Decision?</div>
        <div class="card-body">
            <img src='https://i.imgur.com/c7wOwcK.png' alt="bla" width="800px"/>
    </div>
</div>
<br>



<br>


{% endblock %}
