{% load otree %}
{% block title %}
<h4>Procedure of the Task </h4>
<br>
{% endblock %}

{% block content %}

The procedure of your task can be summarized as follows:

{% if choice %}

<ol>
  <li>You read the instructions and answer all comprehension questions correctly.</li>
  <li>You enter the first stage.</li>
  <li>You see summary statistics for the first group of options.</li>
  <li>You complete three rounds. Each round, you invest one point into one option.</li>
  <li>After your three consecutive investments, you draw three times from your chosen options. You only receive feedback <b>after</b> you have completed all seven stages.</li>
  <li>You enter the second stage and repeated points 3 - 5.</li>
  <li>You repeat the procedure until you have completed all seven stages.</li>
  <li>You fill out the post-experimental questionnaire.</li>
  <li>You learn about your draws and your respective payoff from this HIT.</li>

</ol>


{% elif not choice %}

<ol>
  <li>You read the instructions and answer all comprehension questions correctly.</li>
  <li>You enter the first stage.</li>
  <li>You see summary statistics for the first group of options.</li>
  <li>You free invest your three points into one or more of the three options.</li>
  <li>After your investment, you draw three times from your chosen options. You only receive feedback <b>after</b> you have completed all seven stages.</li>
  <li>You enter the second stage and repeated points 3 - 5.</li>
  <li>You repeat the procedure until you have completed all seven stages.</li>
  <li>You fill out the post-experimental questionnaire.</li>
  <li>You learn about your draws and your respective payoff from this HIT.</li>

</ol>

{% endif %}

<p>Do not forget that you receive feedback only after you have completed all seven stages. Once you finished your choices for one group of options, you immediately continue with the information about the next set of options.</p>

<br>
<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>

{% endblock %}
