{% load otree %}

{% block title %}
<h4>The Stages</h4>
<br>

{% endblock %}

{% block content %}

<p>This HIT comprises seven stages. In each stage, you will {% if choice %} repeatedly {% endif %} choose between three different options, as shown in the image below.</p>

<p>At the beginning of each stage, you receive three points. You can invest these points freely between all {% if not safe %}
three {% elif safe %} four {% endif %} options. Points cannot be accumulated and therefore, all three points must be invested in each stage. </p>

<p>You will receive a different group of options in each stage.</p>


{% if choice %}

<div class="card">
    <div class="card-header">Example: Decision Screen - Options Might Be Arranged Differently In Your Task</div>
        <div class="card-body">
            <img src='https://i.imgur.com/9zjs7EA.png' alt="bla" width="800px"/>
    </div>
</div>
<br>

{% elif not choice %}

<div class="card">
    <div class="card-header">Example: Decision Screen - Options Might Be Arranged Differently In Your Task</div>
        <div class="card-body">
            <img src='https://i.imgur.com/Bp0v341.png' alt="bla" width="800px"/>
    </div>
</div>
<br>

{% endif %}

<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>
{% endblock %}

