{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<div class="page-header">
    <p>Draws & Earnings</p>
</div>
{% endblock %}



{% block content %}

{% if draw == 'TSR' %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_1_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3_samp}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_1_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_2_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_3_samp}} &nbsp;</td>
        </tr>

    </table>
    </div>


{% endif %}


{% elif draw == 'STR' %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_2_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3_samp}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_2_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_1_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_3_samp}} &nbsp;</td>
        </tr>

    </table>
    </div>


{% endif %}

{% elif draw == 'RTS' %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_3_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2_samp}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_3_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_1_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_2_samp}} &nbsp;</td>
        </tr>

    </table>
    </div>



{% endif %}

{% elif draw == 'TRS' %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Triangle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_1_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2_samp}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_1_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_3_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_2_samp}} &nbsp;</td>
        </tr>

    </table>
    </div>



{% endif %}

{% elif draw == 'SRT' %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_2_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_3_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1_samp}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_2_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_3_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_1_samp}} &nbsp;</td>
        </tr>

    </table>
    </div>


{% endif %}

{% elif draw == 'RST' %}


    <div class="table">
    <table>
        <tr>
            <th class="th"> &nbsp; </th>
            <th class="th"> Rectangle &nbsp;</th>
            <th class="th"> Circle &nbsp;</th>
            <th class="th"> Triangle &nbsp;</th>
        </tr>
        <tr>
            <td class="td"> <b>Draws: &nbsp;</b> </td>
            <td class="td"> {{player.option_3_samp}} &nbsp;</td>
            <td class="td"> {{player.option_2_samp}} &nbsp;</td>
            <td class="td"> {{player.option_1_samp}} &nbsp;</td>
        </tr>
        <tr>
            <td class="td"> <b>Coins:&nbsp;</b> </td>
            <td class="td"> {{player.urn_draws_3_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_2_samp}} &nbsp;</td>
            <td class="td"> {{player.urn_draws_1_samp}} &nbsp;</td>
        </tr>

        <tr>
            <td class="td"> <b>Earnings:&nbsp;</b> </td>
            <td class="td"> {{player.payoff_3_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_2_samp}} &nbsp;</td>
            <td class="td"> {{player.payoff_1_samp}} &nbsp;</td>
        </tr>

    </table>
    </div>

{% endif %}
{% endif %}


<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">{{player.payoff}}</button>

{% block styles %}
    <style type="text/css">
        {% include 'Pilot_Descr/css/feedback.css' %}
    </style>
{% endblock %}