{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<div class="page-header">
    <p> You will now decide whether to start sampling and experience the options yourself, or skip directly to the main decision</p>
</div>
{% endblock %}

{% block content %}

<p>If you decide to start sampling, you will be able to draw as many coins as you like from each option. </p>

<p>If you decide to skip to the main decision, you will not receive any additional information.</p>

<br>

<div class="card">
  <div class="card-header">
      <b> Do you want to experience the different options yourself and gather more information? </b>
  </div>
<div class="card-body">
<button name="end_button" value="False" class="btn-primary btn-lg">Yes, I want to start sampling.</button>
<button name="end_button" value="True" class="btn-success btn-lg">No, take me to the main decision.</button>
  </div>
</div>


{% endblock %}






