{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<div class="page-header">
    <p> Transition</p>
</div>
{% endblock %}

{% block content %}

<p> You will now start the sampling phase. You will make 60 decisions on how to allocate one point between the three options. After each decision, you receive feedback on your decision. </p>

<p> The payoff from the next 60 rounds determines how many points you will be allowed to invest in the second investment decision.</p>

<p> You can also use the following 60 rounds to learn more about the options. </p>

<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Proceed to the sampling stage</button>


{% endblock %}






