{% load otree %}



<p>You can earn additional bonus money for <b>both</b> sets of questions, depending on how accurate your estimates are. </p>
<p><b>Payment First Set of Questions:</b></p>
<p>You will earn an additional <b>50 ECU</b> if you rank all three options for all four metrics correctly. If you correctly rank all three options for three metrics, you will earn an additional <b>25 ECU</b>. Otherwise, you will not earn any additional bonus money.</p>

<p><b>Payment Second Set of Questions:</b></p>
<p>For each of the four metrics, you will be paid additional bonus money depending on how close you estimations are to the options true values.</p>
<ul>
  <li>Estimation within 5% of the true value: 15 ECU</li>
  <li>Estimation within 10% of the true value: 10 ECU</li>
  <li>Estimation within 15% of the true value: 5 ECU</li>
  <li>Otherwise: 0 ECU</li>
</ul>

<p>Thus, in total, you can earn additional bonus money of up to <b>60 ECU</b> (15 ECU for each metric).</p>

<p>Click on the button below to proceed to the first set of questions.</p>

