{% load otree %}

<p>Remember:</p>
<p>"Mean" refers to an option's average payoff per draw.</p>
<p>"SD" refers to an option's standard deviation. The standard deviation
    is a measure of how spread out the draws are in relation to the option's average. A low standard deviation means that most numbers are
close to the average. A high standard deviation means that numbers are more widely dispersed.</p>

<p>"Lowest Draw" refers to the coin which returned the lowest value from the {{Constants.num_priors}}-draw sample.</p>

<p>"Highest Draw" refers to the coin which returned the highest value from the {{Constants.num_priors}}-draw sample.</p>

<div class="card">
  <div class="card-header">
    <b>Please rank the three options from top (highest mean) to bottom (lowest mean) according to their average payoff per draw.</b> </p>
  </div>
  <div class="card-body">
<ul id="items" class="list-group list-group-numbered" style="cursor: move">
    {% for choice in Constants.choices %}
    <li data-id="{{ choice }}" class="list-group-item">{{ choice }}</li>
    {% endfor %}
</ul>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>
    let el = document.getElementById('items');
    let sortable = Sortable.create(el, {
        onChange: function (evt) {
            document.getElementById('ranking').value = sortable.toArray().join(',');
        }
    });
</script>

<input type="hidden" name="ranking" id="ranking">

{{ form.ranking.errors }}

</div>
</div>

<div class="card">
  <div class="card-header">
    <b>Please rank the three options from top (highest SD) to bottom (lowest SD) according to their standard deviation. </b>
  </div>
  <div class="card-body">
<ul id="sd" class="list-group list-group-numbered" style="cursor: move">
    {% for var in Constants.choices2 %}
    <li data-id="{{ var }}" class="list-group-item">{{ var }}</li>
    {% endfor %}
</ul>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>
    let el2 = document.getElementById('sd');
    let sortable = Sortable.create(el2, {
        onChange: function (evt) {
            document.getElementById('rankingsd').value = sortable.toArray().join(',');
        }
    });
</script>

<input type="hidden" name="rankingsd" id="rankingsd">

</div>
</div>