{% load otree %}



<p>You can earn additional bonus money for <b>both</b> sets of questions, depending on how accurate your estimates are. </p>
<p><b>Payment First Set of Questions:</b></p>
<p>You will earn an additional <b>50 cents</b> if you rank all three options for all four metrics correctly. If you correctly rank all three options for three metrics, you will earn an additional <b>25 cents</b>. Otherwise, you will not earn any additional bonus money.</p>

<p><b>Payment Second Set of Questions:</b></p>
<p>For each of the three options, you will be paid additional bonus money depending on how close you estimation of the mean is to the option's true value.</p>
<ul>
  <li>Estimation within 5% of the true value: 15 cents</li>
  <li>Estimation within 10% of the true value: 10 cents</li>
  <li>Estimation within 15% of the true value: 5 cents</li>
  <li>Otherwise: 0 cents</li>
</ul>

<p>Thus, in total, you can earn additional bonus money of up to <b>45 cents</b> (15 cents for each option).</p>

<p>Click on the button below to proceed to the first set of questions.</p>

