{% load otree %}
{% block title %}
<h4>Investments and Earnings </h4>
<br>
{% endblock %}

{% block content %}
<p> You can think of each option as a bag of coins. The coins are put in each bag before the game starts and for every point you invest in
an option, a coin from the respective bag is drawn. Thus, one point equals one draw. After each draw, the coin is put back into the bag.
    {% if not variance %} Coins in the bag usually differ in value.
    Each bag can differ in the average value of coins it contains. Some bags are better than others and you can find that out by 
    choosing bags and observing the coins you draw. Bags do not change over the course of the task.
    {% elif variance %} Bags can differ in the composition of coins they contain. At the beginning, you have no information about the different bags, and
    you can learn about them by choosing bags and observing the coins you draw. {% endif %}  </p>

<p> Additionally, you can choose to invest points in an option that guarantees a return of {{ Constants.safe_option }} ECU per point invested. You can think of that option as a money bag with only one type of coin.
This option is symbolized with a rectangle.  </p>

<div class="card">
    <div class="card-header">The Rectangle Option guarantees a return of {{ Constants.safe_option }} ECU.</div>
        <div class="card-body">
            <img src='https://i.imgur.com/gvscaL3.png' alt="bla" width="130px"/>
    </div>
</div>


<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>

{% endblock %}
