{% load otree %}
{% block title %}
<h4>The Task</h4>
<br>

{% endblock %}

{% block content %}

<p> This HIT comprises {% if not choice %} {{Constants.num_rounds_points}} {% elif choice %} {{Constants.num_rounds_choice}} {% endif %} rounds. You will repeatedly choose between different options, as shown in the image below.
Each option is represented by a money bag. You choose options by investing points.</p> 

<p> At the beginning of each round, you receive {% if choice %} one point{% elif not choice %} three points{% endif %}. 
You can invest {% if choice %} this point {% elif not choice %} these points {% endif %} freely between all {% if not safe %}
three {% elif safe %} four {% endif %} options. Points cannot be accumulated and therefore, {% if choice %} each point {% elif not choice %} all three 
points {% endif %} must be invested in each round. </p>

<p> Once you have made your choice, you will get feedback about the payoff from your investment. This will be shown on a separate feedback screen upon submitting your choice. </p>


{% if safe and not choice and not variance %}

<div class="card">
    <div class="card-header">Example: Decision Screen - Options Might Be Arranged Differently In Your Task</div>
        <div class="card-body">
            <img src='https://i.imgur.com/P8zkULX.png' alt="bla" width="800px"/>
    </div>
</div>
<br>

{% elif not safe and not choice and not variance %}

<div class="card">
    <div class="card-header">Example: Decision Screen - Options Might Be Arranged Differently In Your Task</div>
        <div class="card-body">
            <img src='https://i.imgur.com/GUHsrRw.png' alt="bla" width="800px"/>
    </div>
</div>
<br>

{% elif safe and choice and not variance %}

<div class="card">
    <div class="card-header">Example: Decision Screen - Options Might Be Arranged Differently In Your Task</div>
        <div class="card-body">
            <img src='https://i.imgur.com/vxGFiMB.png' alt="bla" width="800px"/>
    </div>
</div>
<br>

{% elif not safe and choice and not variance %}

<div class="card">
    <div class="card-header">Example: Decision Screen - Options Might Be Arranged Differently In Your Task</div>
        <div class="card-body">
            <img src='https://i.imgur.com/eSboZq9.png' alt="bla" width="800px"/>
    </div>
</div>
<br>

{% elif safe and choice and variance %}

<div class="card">
    <div class="card-header">Example: Decision Screen - Options Might Be Arranged Differently In Your Task</div>
        <div class="card-body">
            <img src='https://i.imgur.com/LjE5a0t.png' alt="bla" width="800px"/>
    </div>
</div>
<br>

{% elif safe and not choice and variance %}

<div class="card">
    <div class="card-header">Example: Decision Screen - Options Might Be Arranged Differently In Your Task</div>
        <div class="card-body">
            <img src='https://i.imgur.com/9Q47z1w.png' alt="bla" width="800px"/>
    </div>
</div>
<br>

{% endif %}





<!--<p> The label denoting the option (e.g., a triangle on the bag) and an option's position on the screen are randomly predetermined and fixed.-->
    <!--Label and position can help you locate a particular option, but they yield no information about an option's potential payoff. </p>-->


<br>

<button value="True" id="proceed" class="btn btn-primary btn-large">Proceed</button>
{% endblock %}

