{% load otree %}


<div class="card">
        <div class="card-header">
            Please describe how your strategy changed over the course of this HIT.
        </div>
        <div class="card-body">
            {% formfield player.q_exploration_strategy %}
        </div>
    </div>
<br>

{% if safe and not variance %}
<div class="card">
    <div class="card-header">
        In your opinion, which option would maximize your income in the long run?
        <br>
        <i>Please choose one of the following answers. Remember to choose by the option's name and symbol, not by position!</i>.
    </div>
    <div class="card-body">
        {% formfield player.q_maxoption %}
    </div>
</div>
<br>

{% elif not safe and not variance %}
<div class="card">
    <div class="card-header">
        In your opinion, which option would maximize your income in the long run?
        <br>
        <i>Please choose one of the following answers</i>.
    </div>
    <div class="card-body">
        {% formfield player.q_maxoption_2 %}
    </div>
</div>
<br>

<div class="card">
        <div class="card-header">
            How many ECU do you think the Triangle Option returns on average per draw?
        </div>
        <div class="card-body">
            {% formfield player.q_evtriangle %}
        </div>
        <div class="card-header">
            How many ECU do you think the Circle Option returns on average per draw?
        </div>

            <div class="card-body">
            {% formfield player.q_evcircle %}
            </div>
</div>

<br>


{% elif safe and variance %}
<div class="card">
    <div class="card-header">
        In your opinion, which option would maximize your income in the long run?
        <br>
        <i>Please choose one of the following answers</i>.
    </div>
    <div class="card-body">
        {% formfield player.q_maxoption_3 %}
    </div>
</div>
<br>

{% endif %}

<br>
