{% load otree %}
{% block title %}
<h4>Feedback and Total Earnings </h4>
<br>
{% endblock %}

{% block content %}
{% if not choice %}
<p> After submitting your investment, a feedback screen summarizes the number of draws per option and informs you about the respective values of each coin drawn.
    These values are summed up on the blue button below the feedback table. By clicking on the button, you will finish the main task and proceed to the questionnaire. </p>

{% elif choice %}
<p> Once you made three consecutive investments, a feedback screen summarizes the number of draws per option and informs you about the respective values of each coin drawn.
    These values are summed up on the blue button below the feedback table. By clicking on the button, you will finish the main task and proceed to the questionnaire.
{% endif %}

{% if choice %}
<p>Your total earnings at the end of this HIT are the accumulated earnings from each round.</p>

{% elif not choice %}
<p> Your total earnings at the end of this HIT are the accumulated earnings as determined by your investment choice between the three options.</p>

{% endif %}

<p> After filling out the questionnaire, {% if not choice %} all ECU from your investment {% elif choice %} all ECU from all {{Constants.num_rounds_choice}} rounds {% endif %}
    will be summed up and their value will be converted into Dollars.
</p>



<p> Click on the button below to proceed to the comprehension questions. </p>

<br>


{% endblock %}
