{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<div class="page-header">
    <p>Payoff</p>
</div>
{% endblock %}


{% block content %}
<div class="feedback">
    <p> Your total payoff for this round is {{player.payoff}}. </p>
    <p> Your payoff from Option 1 using {{player.option_1}} draws is {{player.payoff_1}} </p>
    <p> Your payoff from Option 2 using {{player.option_2}} draws is {{player.payoff_2}} </p>
    <p> Your payoff from Option 3 using {{player.option_3}} draws is {{player.payoff_3}} </p>

</div>



{% next_button %}

{% endblock %}




{% block styles %}
    <style type="text/css">
        {% include 'Pilot/css/feedback.css' %}
        .page-header {
            margin-bottom: 0px;
        }
    </style>
{% endblock %}