{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<div class="page-header">
    <p>Draws & Earnings</p>
</div>
{% endblock %}


{% block content %}
{% if not choice %}

<!--<div class="feedback">-->

    <div class="table">
    <table>
        <tr>
            <th> &nbsp; </th>
            <th> Option 1 &nbsp;</th>
            <th> Option 2 &nbsp;</th>
            <th> Option 3 &nbsp;</th>
        </tr>
        <tr>
            <td> <b>Draws: &nbsp;</b> </td>
            <td> {{player.option_1}} &nbsp;</td>
            <td> {{player.option_2}} &nbsp;</td>
            <td> {{player.option_3}} &nbsp;</td>
        </tr>
        <tr>
            <td> <b>Coins:&nbsp;</b> </td>
            <td> {{player.urn_draws_1}} &nbsp;</td>
            <td> {{player.urn_draws_2}} &nbsp;</td>
            <td> {{player.urn_draws_3}} &nbsp;</td>
        </tr>

        <tr>
            <td> <b>Earnings:&nbsp;</b> </td>
            <td> {{player.payoff_1}} &nbsp;</td>
            <td> {{player.payoff_2}} &nbsp;</td>
            <td> {{player.payoff_3}} &nbsp;</td>
        </tr>

    </table>
    </div>
<!--</div>-->

{% endif %}

{% next_button %}

{% endblock %}




{% block styles %}
    <style type="text/css">
        {% include 'Pilot/css/feedback.css' %}
        .page-header {
            margin-bottom: 0px;
        }
    </style>
{% endblock %}