{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Questionnaire <h6>Page {{ player.questionnaire_page }}</h6>
{% endblock %}


{% block content %}

{% if player.questionnaire_page == 1 %}
        <p>You have completed part 1 of this HIT. To finish the HIT, please fill out the following questionnaire.</p>
{% endif %}

{% if player.questionnaire_page == 1 %}
    {% include 'Pilot/include/questionnaire_1.html' %}

{% elif player.questionnaire_page == 2 %}
    {% include 'Pilot/include/questionnaire_2.html' %}

{% elif player.questionnaire_page == 3 %}
    {% include 'Pilot/include/questionnaire_socio_1.html' %}


{% endif %}

<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Proceed</button>


{% endblock %}
